.blog-title {
    color: black;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
}

nav {
    float: left;
    padding: 20px;
    width: 20%;
    background: #ccc;
}

article {
    float: left;
    padding: 20px;
    text-align: center;
    width: 80%;
    background: #f1f1f1;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.photo-gallery-image {
    width: 40%;
    height: auto;
}

div {
    /* background-image: url("../images/IMG-8310.jpg"); */
    background-image: linear-gradient(to right, white, red);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}