.blog-title {
    color: black;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    font-weight: bold;
    /* position: static; */
    /* padding: 10px 0; */
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    height: auto;
}

.topnav {
    float: left;
    padding: 20px;
    width: 100%;
    background: #ccc;
    overflow: hidden;
    text-align: center;
}

.topnav ul {
    list-style: none;
}

.topnav li {
    display: inline-block;
    margin-right: 10px;
}

article {
    float: left;
    padding: 20px;
    text-align: center;
    width: 100%;
    background: #f1f1f1;
    /* position: static; */
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

.photo-gallery-image {
    width: 40vw;
    height: auto;
}

/* div { */
    /* background-image: url("../images/IMG-8310.jpg"); */
    /* background-color: white; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-attachment: scroll; */
/* } */

header {
    background-color: white;
    text-align: center;
    text-size-adjust: auto;
    white-space: nowrap;
}

.logo {
    mix-blend-mode: multiply;
    object-fit: cover;
}

body {
    min-height: 100vh;
    background-image: url("../images/IMG-8310.jpg");
    /* background-color: white; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
}

.about-pic {
    width: 40vw;
    height: auto;
    padding: 20px;
}

